<h1>Perfumes Chavez Ruiz</h1>
<%= link_to "Perfumes", {controller: "perfumes"}%>
<%= link_to "Pedidos a Proveedor", {controller: "orders"}%>
<%= link_to "Clientes", {controller: "clients"}%>
<%= link_to "Cuentas", {controller: "accounts"}%>
