<div class="index-container">
  <div class="info">
    <h1>Perfumes Chavez Ruiz</h1>

    <div class="text-area">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates consequuntur, nostrum facere neque doloribus, doloremque perspiciatis commodi nihil, maxime, quia obcaecati! Molestias quis sunt repellendus, consequuntur repudiandae blanditiis. Voluptates eligendi reiciendis porro, est, necessitatibus eveniet tenetur dolorum natus nam possimus eos laborum, amet magni incidunt sint consequuntur suscipit a repellendus.
      <br>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem expedita nam libero vel praesentium fugit asperiores quidem facere esse culpa.
      <br>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem expedita nam libero vel praesentium fugit asperiores quidem facere esse culpa.

    </div>
  </div>
</div>
