@import 'forms.styl'
@import '../theme/color.styl'

body
  color: $base_black;
  background-color: $base_white;
  font-family 'Open Sans', sans-serif;
  margin: 0;
  min-width: 600px;

h1
  font-size 3em;
  //text-align: center;
  margin: 0 0 10px 5px;

h2
  font-size 2.5em;
  //text-align: center;

  margin: 0;

h3
  font-size 1em;

p
  font-size 2em;

.title
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0 0 10px 5px;

.title a
  margin-left: 100px;

#logo
  background-color: #00000000;

#notice
  margin: 25px auto;

#header
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  background-color: $base_black;
  width: 100%;
  min-height:100px;

.global-logo
  background-color: Khaki;
  height: 50px;
  min-width: 100px;
  margin: 25px 25px 25px 5%;

.menu
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: auto 25px;
  width: 90%;

.menu a
  background-color: $base_black;
  border-radius: 4px;
  color: $base_gray;
  font-size 1.2em;
  font-weight: 400;
  text-decoration: none;
  margin: 5px 25px;
  -webkit-transition: all 0.6s ease; // 0.8s
  &:hover
    color: $base_black;
    background-color: $base_yellow;

  //min-width: 190px;

.contenedor
  display: flex;
  flex-direction: column;

  width: 100%;

// Index

.index-container
  display: flex;
  justify-content: flex-start;

  background-image: url(i-bg3.jpg);
  background-size: cover; // contain
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

.info
  margin: 50px auto 0 5%;
  //width: 40%;

.text-area
  background-color: $base_white;
  box-shadow: 2px 2px 10px $base_black;
  padding: 25px 20px;
  max-width: 490px;

// Perfumes
.perfumes-container
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 5%;
  width: 90%;

.producto-container
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  // border: 1px;
  // border-color: tomato;
  // //display: inline-block;
  margin: 5px 0;
  width: 100%;

.producto-iis
  display: flex;
  flex-flow: row wrap;

  width: 400px;

.producto-img
  //background-color: beige;
  width: 200px;
  height: auto;

.producto-img img
  //background-color: tomato;
  box-shadow: 2px 2px 10px $base_black;
  height: 200px;
  width: 200px;

.producto-info
  width: 200px;

.producto-se
  display: flex;
  justify-content: space-around;

  margin-top: auto;
  width: 400px;

.producto-se a
  background-color: #00000000;
  border: 1px solid $base_black;
  box-shadow: 2px 2px 10px $base_black;










// aaaaaaaaaa
