@import '../theme/color.styl'

a
  background-color: $base_yellow;
  border-radius: 7.5px;
  color: $base_black;
  font-size 1.2em;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  height: 27px;
  //max-width: 250px;
  -webkit-transition: all 0.7s ease;
  &:hover
    color: $base_gray;
    background-color: $base_black;


//ul


li
  list-style: none;
  &:first-child
    font-weight: 600;

input[type="submit"]
  background-color: $base_yellow;
  border-style: none;
  border-radius: 7.5px;
  color: $base_black;
  font-family 'Open Sans', sans-serif;
  font-size 1.2em;
  font-weight: 600;
  height: 37px;
  text-decoration: none;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: all 0.7s ease;
  &:hover
    color: $base_gray;
    background-color: $base_black;
