<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Pedido</h2>
  </div>
  <div class="new-container">
    <%= render 'form', order: @order %>
    <div class="show-links">
      <%= link_to 'Mostrar', @order %>
      <%= link_to 'Editar', orders_path %>
    </div>
  </div>
</div>
