<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Cliente</h2>
  </div>
  <div class="new-container">
    <%= render 'form', client: @client %>
    <div class="show-links">
      <%= link_to 'Mostrar', @client %>
      <%= link_to 'Atras', clients_path %>
    </div>
  </div>
</div>
