<div class="global-container">
  <div class="title t-extra">
    <h2>Nueva Cuenta</h2>
  </div>
  <div class="new-container">
    <%= render 'form', account: @account %>
  </div>
  <div class="show-links">
    <li><%= link_to 'Atras', accounts_path %></li>
  </div>
</div>
