<p id="notice"><%= notice %></p>
<div class="global-container">
  <div class="show-container">
    <ul>
      <li><strong>Total </strong></li>
      <li><%= @account.total %></li>
    </ul>
  </div>
  <div class="show-links">
    <li><%= link_to 'Editar', edit_account_path(@account) %></li>
    <li><%= link_to 'Atras', accounts_path %></li>
  </div>
</div>
