<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Perfume</h2>
  </div>
  <div class="new-container">
    <%= render 'form', perfume: @perfume %>
    <div class="show-links">
      <!-- <li><%= link_to 'Mostrar', @perfume %></li> -->
      <li><%= link_to 'Atras', perfumes_path %></li>
    </div>
  </div>
</div>
